<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources />
  <config>
	<add key="defaultPushSource" value="https://nuget.pkg.github.com/mtnvencenzo/index.json" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-mtnvencenzo" value="https://nuget.pkg.github.com/mtnvencenzo/index.json" protocolVersion="3" />
    <!-- <add key="Microsoft Visual Studio Offline Packages" value="D:\.nuget\offline-packages\" /> -->
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>